@keyframes scroll {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-33.33%, 0, 0); }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  will-change: transform;
}

.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ff8904;
  border-radius: 10px;
}
